@model IEnumerable<OnlineSchoolMVCWebApp.Models.SubjectCategory>

@{
    ViewData["Title"] = "Список категорій";
    ViewData["ErrorMessage"] = TempData["ErrorMessage"];
}

<h1 class="display-6 m-3">@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Список курсів</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(SettingStrings.AdminRole))
                    {
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-outline-secondary" asp-action="Create">Створити нову категорію</a>
    </p>
}