@model OnlineSchoolMVCWebApp.Models.Task

@{
    ViewData["Title"] = "Видалити завдання";
}

<h1>@ViewData["Title"]</h1>

<h3>Ви справді хочете видалити завдання?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cource.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model?.CourceId">Скасувати</a>
    </form>
</div>
