@model OnlineSchoolMVCWebApp.Models.Attachment

@{
    ViewData["Title"] = "Інформація";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Додатковий матеріал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cource.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index" asp-route-courceid="@Model?.CourceId">Список додаткових матеріалів</a>
</div>
