@model IEnumerable<OnlineSchoolMVCWebApp.Models.Attachment>

@{
    ViewData["Title"] = "Додаткові матеріали - " + ViewBag.CourceTitle;
}

<h1 class="display-6">@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id" asp-route-courceid="@item.CourceId">Редагувати</a> 
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Докладніше</a> 
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-outline-secondary" asp-controller="Tasks" asp-action="Index" asp-route-id="@ViewBag.CourceId">Повернутись до курсу</a>
    <a class="btn btn-outline-secondary" asp-action="Create" asp-route-courceid="@ViewBag.CourceId">Створити додатковий матеріал</a>
</p>