@model OnlineSchoolMVCWebApp.Models.Cource

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-7 col-xl-7 col-lg-7 border p-3">
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-xl-5 col-lg-5 border p-3">
            <div>
                <dl class="row border-bottom">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.SubjectCategory)
                    </dt>
                    <dd class="col-sm-6">
                        <a class="link-dark" asp-action="Index" asp-route-id="@Model?.SubjectCategory.Id" asp-route-name="@Model?.SubjectCategory.Name">
                            @Html.DisplayFor(model => model.SubjectCategory.Name)
                        </a>
                    </dd>
                </dl>
                <dl class="row border-bottom">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Level.Status)
                    </dd>
                </dl>
                <dl class="row border-bottom">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Author)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName) | 
                        <a class="link-dark" href="mailto:@Html.DisplayFor(model => model.Author.Email)">@Html.DisplayFor(model => model.Author.Email)</a>
                    </dd>
                </dl>
            </div>
        </div>
  </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 p-0 mt-2">
            <a class="btn btn-outline-secondary" asp-action="Index">Список курсів</a>
            <a class="btn btn-outline-secondary" asp-controller="Tasks" asp-action="Index" asp-route-id="@Model?.Id" asp-route-title="@Model?.Title">Розпочати навчання</a>
            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model?.Id" >Редагувати</a>
        </div>
    </div>
</div>

<div>
    
</div>
