@model IEnumerable<OnlineSchoolMVCWebApp.Models.Cource>

@{
    ViewData["Title"] = @ViewBag.SubjectCategoryName;
    ViewData["ErrorMessage"] = TempData["ErrorMessage"];
}

<h1 class="display-6 m-3">@ViewData["Title"]</h1>

<div class="container ">
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2  text-center">
        @foreach (var item in Model)
        {
            <div class="col mb-2">
                <div class="card border-dark">
                    <div class="card-header">
                        <h5 class="mt-2">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </div>
                    <div class="card-body p-2 pb-3">

                        <p class="card-text">@Html.DisplayNameFor(model => model.SubjectCategory.Id): @Html.DisplayFor(modelItem => item.SubjectCategory.Name)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Level): @Html.DisplayFor(modelItem => item.Level.Status)</p>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Докладніше</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Видалити</a>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="row row-cols-12 mt-2">
        <div class="col">
            <p>
                <a asp-action="Create" class="btn btn-outline-secondary">Створити курс</a>
            </p>
        </div>

    </div>
</div>
