<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_journal.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineSchoolMVCWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Cources" asp-action="Index" asp-route-id="">Курси</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="SubjectCategories" asp-action="Index">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Інформація</a>
                        </li>
                    </ul>
                </div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="d-flex text-muted">
                    @User.Identity.Name
                </div>
                <form class="d-flex" method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-secondary m-2 my-sm-0" type="submit" value="Вихід" />
                </form>
            }
            else
            {
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                        <a class="btn btn-secondary m-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-secondary m-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Login">Авторизація</a>
                        </li>
                    </ul>
            }



        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (@ViewData["ErrorMessage"] is not null)
            {
                <div>
                    <p class="text-danger">@ViewData["ErrorMessage"]</p>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineSchoolMVCWebApp - Всі права захищені
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
